@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
body {
    color: rgb(245,245,245),
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('image/resized_image_800x600.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Funnel Display', serif;
    color: rgb(245,245,245);
}

.main {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  height: 100vh;           /* ensures vertical space */
}